.title-container {
    height: 90vh;
    background: url("images/bg.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $dark;
}

.title-container__title {
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 1.3;
    font-family: 'Roboto Slab', serif;
}

.title-container__subtitle {
    font-style: italic;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1.5;
    font-family: "Merriweather", serif;
}